In [10]:
import requests
import json
import pandas as pd
import http.client
import sys
import os
from time import sleep
sys.path.append(os.path.abspath('../'))
import dotenv 
dotenv.load_dotenv()
key = os.getenv("key")

In [11]:
def get_peliculas(genre, titleType, page, key):

    resultados = []
    try:
        connection = http.client.HTTPSConnection("moviesdatabase.p.rapidapi.com")

        headers = {
            'x-rapidapi-key': key,
            'x-rapidapi-host': "moviesdatabase.p.rapidapi.com"
        }

        url_data = f"/titles?genre={genre}&startYear=1990&titleType={titleType}&sort=year.incr&page={page}"
        
        connection.request("GET", url_data, headers=headers)
        res = connection.getresponse()
        
        if res.status == 200:
            data = res.read()
            dicc_datos = json.loads(data.decode("utf-8"))
            results = dicc_datos.get('results', [])

            for r in results:
                movie = {
                    "id": r.get('id', "N/A"),
                    "titleText": r.get('titleText', {}).get('text', "N/A"),
                    "releaseYear": r.get('releaseYear', {}).get('year', "N/A"),
                    "releaseMonth": r.get('releaseDate', {}).get('month', "N/A"),
                }
                resultados.append(movie)
        else:
            print(f"Error en la solicitud: {res.status} {res.reason}")

    except Exception as e:
        print(f"Error al hacer la petición a la API: {e}")

    return pd.DataFrame(resultados)

In [12]:
# Definir los dataframes
df_drama = get_peliculas('Drama', 'movie', 1, key)
sleep(5)
df_comedia = get_peliculas('Comedy', 'movie', 1, key)
sleep(5)
df_accion = get_peliculas('Action', 'movie', 1, key)
sleep(5)
df_fantasy = get_peliculas('Fantasy', 'movie', 1, key)
sleep(5)
df_horror = get_peliculas('Horror', 'movie', 1, key)
sleep(5)
df_mystery = get_peliculas('Mystery', 'movie', 1, key)
sleep(5)
df_romance = get_peliculas('Romance', 'movie', 1, key)
sleep(5)
df_thriller = get_peliculas('Thriller', 'movie', 1, key)
sleep(5)
df_drama1 = get_peliculas('Drama', 'short', 2, key)
sleep(5)
df_comedia1 = get_peliculas('Comedy', 'short', 2, key)
sleep(5)
df_accion1 = get_peliculas('Action', 'short', 2, key)
sleep(5)
df_fantasy1 = get_peliculas('Fantasy', 'short', 2, key)
sleep(5)
df_horror1 = get_peliculas('Horror', 'short', 2, key)
sleep(5)
df_mystery1 = get_peliculas('Mystery', 'short', 2, key)
sleep(5)
df_romance1 = get_peliculas('Romance', 'short', 2, key)
sleep(5)
df_thriller1 = get_peliculas('Thriller', 'short', 2, key)

# Crear un diccionario único para evitar duplicados
dataframes = {
    "Drama_movie": df_drama,
    "Comedy_movie": df_comedia,
    "Action_movie": df_accion,
    "Fantasy_movie": df_fantasy,
    "Horror_movie": df_horror,
    "Mystery_movie": df_mystery,
    "Romance_movie": df_romance,
    "Thriller_movie": df_thriller,
    "Drama_short": df_drama1,
    "Comedy_short": df_comedia1,
    "Action_short": df_accion1,
    "Fantasy_short": df_fantasy1,
    "Horror_short": df_horror1,
    "Mystery_short": df_mystery1,
    "Romance_short": df_romance1,
    "Thriller_short": df_thriller1
}

for name, df in dataframes.items():
    categoria, tipo = name.split("_")
    df["Categoria"] = categoria
    df["Tipo"] = tipo

Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'
Error al hacer la petición a la API: 'NoneType' object has no attribute 'get'

In [13]:
# Concatenar todos los DataFrames en uno solo
df_concat = pd.concat([
    df_drama, df_comedia, df_accion, df_fantasy, df_horror, df_mystery, df_romance, df_thriller,
    df_drama1, df_comedia1, df_accion1, df_fantasy1, df_horror1, df_mystery1, df_romance1, df_thriller1
], ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_9340\105005679.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_concat = pd.concat([

In [14]:
df_concat

,id,titleText,releaseYear,releaseMonth,Categoria,Tipo
0,tt0059325,Jahrgang 45,1990.0,10.0,Drama,movie
1,tt0059900,"Wenn du groß bist, lieber Adam",1990.0,10.0,Drama,movie
2,tt0065188,"Vojtech, receny sirotek",1990.0,10.0,Drama,movie
3,tt0068494,Domo Arigato,1990.0,8.0,Drama,movie
4,tt0075259,Spy Story,1990.0,3.0,Drama,movie
...,...,...,...,...,...,...
93,tt13491186,The Short Night,1990.0,NaN,Thriller,short
94,tt1401713,Elvis Killed My Brother,1990.0,5.0,Thriller,short
95,tt1772810,Des yeux couleur du temps,1990.0,5.0,Thriller,short
96,tt1890453,Long Story Short,1990.0,5.0,Thriller,short
97,tt0098962,12:01 PM,1991.0,4.0,Thriller,short

In [15]:
df_concat.to_pickle('../datos/datos_api.pkl')